// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.video-container {
  width: 100%;
  margin: 20px 40px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  .my-video {
    width: 70%;
    height: 100%;
    margin-right: 100px;
  }

  .user-video {
    width: 70%;
    height: 100%;
  }

  .call{
    width: 200px;
    margin-bottom: 20px;
  }
}